################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NetCore.Services/obj
/NetCore.Repository/obj
/NetCore.Model.DTO/obj
/NetCore.IServices/obj
/NetCore.Infrastructure/obj
/NetCore.Frame
/NetCore.Services/bin/Debug/netcoreapp3.1/NetCore.Model.DTO.dll
/NetCore.Services/bin/Debug/netcoreapp3.1/NetCore.IServices.pdb
/NetCore.Services/bin/Debug/netcoreapp3.1/NetCore.IServices.dll
/NetCore.Services/bin/Debug/netcoreapp3.1/NetCore.Infrastructure.pdb
/NetCore.Services/bin/Debug/netcoreapp3.1/NetCore.Infrastructure.dll
/NetCore.Infrastructure/bin/Debug/netcoreapp3.1/NetCore.Infrastructure.pdb
/NetCore.Infrastructure/bin/Debug/netcoreapp3.1/NetCore.Infrastructure.dll
/NetCore.Infrastructure/bin/Debug/netcoreapp3.1/NetCore.Infrastructure.deps.json
/NetCore.IServices/bin/Debug/netcoreapp3.1/NetCore.Model.DTO.pdb
/NetCore.IServices/bin/Debug/netcoreapp3.1/NetCore.Model.DTO.dll
/NetCore.IServices/bin/Debug/netcoreapp3.1/NetCore.IServices.pdb
/NetCore.IServices/bin/Debug/netcoreapp3.1/NetCore.IServices.dll
/NetCore.IServices/bin/Debug/netcoreapp3.1/NetCore.IServices.deps.json
/NetCore.Model.DTO/bin/Debug/netcoreapp3.1/NetCore.Model.DTO.pdb
/NetCore.Model.DTO/bin/Debug/netcoreapp3.1/NetCore.Model.DTO.dll
/NetCore.Model.DTO/bin/Debug/netcoreapp3.1/NetCore.Model.DTO.deps.json
/NetCore.Repository/bin/Debug/netcoreapp3.1/NetCore.Repository.runtimeconfig.json
/NetCore.Repository/bin/Debug/netcoreapp3.1/NetCore.Repository.runtimeconfig.dev.json
/NetCore.Repository/bin/Debug/netcoreapp3.1/NetCore.Repository.pdb
/NetCore.Repository/bin/Debug/netcoreapp3.1/NetCore.Repository.dll
/NetCore.Repository/bin/Debug/netcoreapp3.1/NetCore.Repository.deps.json
/NetCore.Repository/bin/Debug/netcoreapp3.1/NetCore.Infrastructure.pdb
/NetCore.Repository/bin/Debug/netcoreapp3.1/NetCore.Infrastructure.dll
/NetCore.Services/bin/Debug/netcoreapp3.1/NetCore.Services.pdb
/NetCore.Services/bin/Debug/netcoreapp3.1/NetCore.Services.dll
/NetCore.Services/bin/Debug/netcoreapp3.1/NetCore.Services.deps.json
/NetCore.Services/bin/Debug/netcoreapp3.1/NetCore.Repository.pdb
/NetCore.Services/bin/Debug/netcoreapp3.1/NetCore.Repository.dll
/NetCore.Services/bin/Debug/netcoreapp3.1/NetCore.Model.DTO.pdb
/.vs/NetCore.Frame/DesignTimeBuild/.dtbcache.v2
